<div class="grid-container">
  <h1 class="mat-h1">Estadísticas de los usuarios</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

            <div (window:resize)="onResize($event)" >
              <google-chart
                [title]=""
                [type]="card.type"
                [data] = "card.data"
                [options] = "card.options"
                [columns] = "card.columnNames"
                [width]="chartWidth" 
                [height]="chartHeight"
              >
              </google-chart>
            </div>  
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
